#wrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    form {
        .formLabel {
            margin: 15px 0 15px 0;
            padding: 0 10px;
            color: darkcyan;
            text-decoration: blink;
        }
        .formInput {
            margin: 15px 0 15px 0;
        }
        .formButton {
            padding: 2px 5px;
        }
        
        .formRadio {
            width: 100%;
            display: flex;
            padding: 5px 5px;

            .formRadioChild {
                width: 50%;
                height: 20px;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.wrapCheckbox {
    display: flex;
}